<template>
    <v-container>
        <v-row justify="center">
            <v-dialog
                    v-model="dialog"
                    max-width="290"
            >
                <v-card>
                    <v-card-title class="headline">INFO</v-card-title>
                    <v-card-text>{{ modalMessage }}</v-card-text>

                    <v-card-actions>
                        <v-btn
                                color="green darken-1"
                                text
                                @click="dialog = false"
                        >
                            OK
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>


        <v-simple-table height="300px">
            <template v-slot:default>
                <thead>
                <tr>
                    <th class="text-left"></th>
                    <th class="text-left">Login</th>
                    <th class="text-left">Email</th>
                    <th class="text-left">Contact channels</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in users" :key="user.login">
                    <td><input type="checkbox" :id="user.login" :value="user.login" v-model="checkedUsers"/></td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.contactChannels.join(', ') }}</td>
                </tr>
                </tbody>
            </template>
        </v-simple-table>

        <div v-if="checkedUsers.length > 0">
            <v-textarea
                    solo
                    name="input-7-4"
                    label="Message"
                    v-model="message"
            ></v-textarea>
            <v-btn color="primary" v-on:click="send">Send notification</v-btn>
        </div>


    </v-container>
</template>

<script>
    export default {
        name: 'ListUsers',

        data: function () {
            return {
                checkedUsers: [],
                message: null,
                modalMessage: null,
                dialog: false
            }
        },
        created() {
            this.$store.dispatch("fetchUsers")
        },
        computed: {
            users() {
                return this.$store.getters.allUsers;
            }
        },
        methods: {
            openModal(text) {
              this.modalMessage = text
              this.dialog = true
            },
            async send() {
                if (!this.message) {
                    this.openModal("Message can not be empty")

                    return
                }

                const url = process.env.VUE_APP_API_URL + "/api/send-notification";
                const postData = {logins: this.checkedUsers, message: this.message};

                const requestOptions = {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(postData)
                };

                this.openModal("Please wait...")

                fetch(url, requestOptions)
                    .then(async response => {
                        const data = await response.json();
                        if (!response.ok) {
                            const error = (data && data.message) || response.status;
                            this.openModal("'There was an error!")
                            return Promise.reject(error);
                        }

                      this.openModal("The message was sent successfully")

                    })
                    .catch(() => {
                        this.openModal("'There was an error!")
                    });

            }
        }
    }
</script>
