<template>
    <v-container>
        <v-row justify="center">
            <v-dialog
                    v-model="dialog"
                    max-width="290"
            >
                <v-card>
                    <v-card-title class="headline">INFO</v-card-title>
                    <v-card-text>{{ modalMessage }}</v-card-text>

                    <v-card-actions>
                        <v-btn
                                color="green darken-1"
                                text
                                @click="dialog = false"
                        >
                            OK
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>


      <template>
        <h2>Kup bilet</h2>
        <form>
          <v-text-field
              v-model="name"
              :error-messages="nameErrors"
              :counter="10"
              label="Imię i nazwisko"
              required
              @input="$v.name.$touch()"
              @blur="$v.name.$touch()"
          ></v-text-field>
          <v-text-field
              v-model="email"
              :error-messages="emailErrors"
              label="E-mail"
              required
              @input="$v.email.$touch()"
              @blur="$v.email.$touch()"
          ></v-text-field>
          <v-select
              v-model="amount"
              :items="items"
              :error-messages="selectErrors"
              label="Ilość"
              required
              @change="$v.select.$touch()"
              @blur="$v.select.$touch()"
          ></v-select>
          <v-checkbox
              v-model="checkbox"
              :error-messages="checkboxErrors"
              label="Wyrażam zgodę na wykorzystanie i przetwarzanie moich danych osobowych w celu realizacji zamówienia (zgodnie z przepisami o ochronie danych osobowych i RODO)."
              required
              @change="$v.checkbox.$touch()"
              @blur="$v.checkbox.$touch()"
          ></v-checkbox>

          <v-btn class="mr-4" color="primary" @click="send">Wyślij</v-btn>
        </form>
      </template>

    </v-container>
</template>

<script>
    export default {
        name: 'TicketForm',

        data: function () {
            return {
                items: [1,2,3,4,5],
                email: null,
                amount: 1,
                name: null
            }
        },
        methods: {
            openModal(text) {
              this.modalMessage = text
              this.dialog = true
            },
            async send() {
                    this.openModal(this.name + " " + this.email + " " + this.amount)
                }

                // const url = process.env.VUE_APP_API_URL + "/api/send-notification";
                // const postData = {logins: this.checkedUsers, message: this.message};
                //
                // const requestOptions = {
                //     method: "POST",
                //     headers: {"Content-Type": "application/json"},
                //     body: JSON.stringify(postData)
                // };
                //
                // this.openModal("Please wait...")
                //
                // fetch(url, requestOptions)
                //     .then(async response => {
                //         const data = await response.json();
                //         if (!response.ok) {
                //             const error = (data && data.message) || response.status;
                //             this.openModal("'There was an error!")
                //             return Promise.reject(error);
                //         }
                //
                //       this.openModal("The message was sent successfully")
                //
                //     })
                //     .catch(() => {
                //         this.openModal("'There was an error!")
                //     });

            //}
        }
    }
</script>
