<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <h1>Kup bilet na Post Mortem #11</h1>
      </div>
    </v-app-bar>

    <v-main>

      <template>
        <br/>
        <v-row align="center" justify="center">
          <v-img
              src="postmortem.png"
              class="grey lighten-2"
              max-width="1025"
              max-height="390"
          >
          </v-img>
        </v-row>
      </template>

      <template>
        <blockquote class="blockquote">Post Mortem to cykliczna toruńska impreza DIY w klimatach post/sludge/black/doom.
          Jedenasta edycja festiwalu Post Mortem odbędzie się 10 listopada (dzień przed Narodowoym Świętem Niepodległości) w klubie NRD.<br/>
          Wystąpią: <b>Fleshword, 4 dots, Inverted Mind</b>
          <br/>
          Link do wydarzenia: <a href="https://www.facebook.com/events/454291272157576">https://www.facebook.com/events/454291272157576</a>

        </blockquote>
      </template>

      <TicketForm/>

      <p style="text-align: center">Created by Piotr Cichocki</p>
    </v-main>
  </v-app>
</template>

<script>
import TicketForm from './components/TicketForm';

export default {
  name: 'App',

  components: {
    TicketForm,
  },

  data: () => ({
    //
  }),
};
</script>
